:root {
  --primary-color: #00334e;
  --nav-link-color: #004e8a;
  --primary-hover-color: #004e8a;
  --primary-dark-color: #222222;
  --background-color: #eef7fc;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  text-align: justify;
}

a {
  color: #004e8a;
  transition: 0.3s ease all;
}

a:hover {
  color: #00334e;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.login-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  background-color: rgb(0 0 0 / 25%);
  margin-bottom: 0;
  padding: 35px;
}

.overlay-content h1 {
  margin-top: 30px;
  margin-bottom: 0;
  color: #fff;
  font-size: 3.2rem;
  font-weight: 700;
  text-align: left;
}

.overlay-content .description {
  color: #fff;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
}

.authentication-form {
  font-size: 0.9rem;
  width: 100%;
  animation: fadeIn;
  animation-duration: 2s;
  display: block;
}

#login .logo {
  text-align: center;
  margin-right: auto;
  margin-top: 2rem;
}

#login .logo h1 {
  text-align: center;
  margin-bottom: 15px;
  font-weight: 300;
  color: #fff;
}

#login .logo img {
  max-width: 100%;
  height: auto;
}

.authentication-form h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  margin: 2rem 0;
}

.input-field {
  text-align: center;
}

.input-field input {
  max-width: 300px;
  background-color: #fff;
  padding: 15px 16px 16px;
  font-size: 16px;
  outline: none;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: auto;
  margin-bottom: 0.5rem;
}

::-webkit-input-placeholder {
  color: gray;
  font-weight: 400;
}

:-ms-input-placeholder {
  color: gray;
  font-weight: 400;
}

::placeholder {
  color: gray;
  font-weight: 400;
}

.input-field p {
  margin: 5px 0;
  text-align: center;
}

.input-field input:focus {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  box-shadow: none !important;
}

.forgot-link {
  max-width: 330px;
  margin: 0 auto;
  width: 100%;
  margin-top: 10px;
}

.forgot-link a {
  color: #fff;
}

.authentication-form .btn-medico {
  font-weight: 400;
  font-size: 16px;
  display: inline-block;
  padding: 16px 24px 17px;
  border-radius: 5px;
  transition: 0.5s;
  color: #fff;
  border: none;
  position: relative;
  margin: 10px 5px;
  line-height: 1.5;
}

.authentication-form .btn-medico::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #fff 0%, #000 100%);
  z-index: 1;
  opacity: 0.1;
}

.authentication-form .btn-medico.medico-green {
  background-color: #4caf50;
}

.authentication-form .btn-medico.medico-blue {
  background-color: #2196f3;
}

.authentication-form .btn-medico:hover {
  transform: translateY(-5px);
}

.authentication-form .btn-medico:hover .rotate-spinner {
  color: #fff;
}

.register {
  color: #40545a;
  text-align: center;
  margin-top: 30px;
}

.footer {
  text-align: center;
  margin-top: 10px;
}

.rotate-spinner {
  color: #fff;
  margin: 0 auto;
  display: inline-block;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width: 767px) {
  .login-container {
    padding: 35px 10px;
  }
}

@media (max-width: 575px) {
}
